<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Video SDK</title>
</head>
<body>
    <h1>简单上传视频</h1>


    <form id="form1">
        <input id="uploadVideoNow-file" type="file" onchange="changeInput(this)" style="display: none;">
    </form>

    <!-- a标签，当点击之后，执行change函数中的内容 -->
    <a id="upLoadVideoNow" href="javascript:void(0);" onclick="change()">直接上传视频</a>

    <br>
    <hr>
    <!-- 结果 -->
    <div id="resultBox">Lain</div>

    <!-- 在web中引入sdk，js -->
    <script src="//imgcache.qq.com/open/qcloud/js/vod/sdk/ugcUploader.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" th:inline="javascript">

        var getSignature=function(callback)
        {
            alert("fdsfjalfla");
            $.ajax({
                url:[[@{~/sign}]],
                type :"POST",
                success:function (result)
                {
                    alert("1111");
                    alert(result);
                    //即可上传视频
                    callback(result);
                }
            })
        }

        //当点击a标签的时候，让input改变内容
        function change() {
            $("#uploadVideoNow-file").click();
        }

        //当input标签内容改变的时候，会调用这个函数
        function changeInput(e) {
            // alert(e.files[0].name);

            var videoFile=e.files[0];

            addUploaderMsgBox();

            //上传视频核心代码
            qcVideo.ugcUploader.start(
                {
                    //视频文件
                    videoFile:videoFile,
                    //上传到哪
                    getSignature:getSignature,
                    //是否上传声音
                    allowAudio:1,

                    //成功
                    success:function(result)
                    {
                        // alert("success");
                        $('[name=videoresult]').text('上传成功');
                    },
                    //失败
                    error:function (result) {
                        //alert("error");
                        $('[name=videoresult]').text('上传失败');
                    },
                    //正在上传的时候一直会调用update
                    progress:function (result) {
                        //上传中
                        $('[name=videoname]').text(result.name);
                        $('[name=videosha]').text(Math.floor(result.shacurr*100)+"%");
                        $('[name=videocurr]').text(Math.floor(result.curr*100)+"%");
                    },
                    //完成
                    finish:function (result) {
                        //成功上传
                        //alert("finish");
                        $('[name=videourl]').text(result.videoUrl);
                    }
                }
            )
        }

        function addUploaderMsgBox()
        {
            var html = '<div name = 1>'
            html+='视频的名称：<span name="videoname"></span>;'+
                '计算sha进度：<span name="videosha"></span>;'+
                '上传进度：<span name="videocurr"></span>;'+
                '上传结果：<span name="videoresult"></span>;'+
                '地址：<span name="videourl"></span>;';

            html+="</div>"

            $("#resultBox").append(html);
        }

    </script>
</body>
</html>